body{
  display: flex;
  flex-direction: column;
}
select, input{
  margin-bottom: 20px;
}
#inputs_container{
  display: flex;
  flex-direction: column; 
}

svg{
  position: fixed;
  bottom: 30px;
  right: 30px;
  transform: scale(1.5);
}
